body {
   background-color: #05d575;
}
a{ background-color: #05d575;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
a:link{  
background-color:red;
color:white;
padding: 15px 20px;
text-align-last: center;
text-decoration: none;
display:inline-block;
margin-right:16px  
   }