body{
    background-color:skyblue
}
img{
    
}
body{
    font-size:30px;
}
div{
     font-size:14px;
}
h2{
     font-size:32px;
}
p{
    font-size:25px;
}
li{
    font-size:18px;
}
p1{
    font-size:17px;
    text-align:right;
}
body{
    text-align: center;
}